/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-uwai-uwai {
	background-color: var(--wp-admin-theme-color);
	color: #fff;
	padding: 2px;
}

  
  .blade-links {
	margin: 1em!important;
  }
  
/*    @import '../../node_modules/ucla-bruin-components/public/css/ucla-lib.min.css';
 */  