.btn {
    padding: 12px 16px 8px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
    border: 2px solid transparent;
    line-height: 1.25;
    cursor: pointer
}

.btn:focus {
    outline: 0
}

.btn:disabled {
    cursor: not-allowed
}

.btn.play::before {
    display: inline-block;
    content: '';
    width: 15px;
    height: 15px;
    background: url(/img/icons/play-white.svg);
    background-size: contain
}

.btn--lightbg {
    background: #00598c;
    color: #fff
}

.btn--lightbg:hover {
    background: #0079bf
}

.btn--lightbg:focus {
    background: #0079bf;
    outline: 1px dotted #fff;
    outline-offset: -3px
}

.btn--lightbg:active {
    background: #003b5c;
    outline: 0
}

.btn--lightbg:disabled {
    background: #757575;
    color: #fff
}

.btn--darkbg {
    color: #000;
    background: #ffd100
}

.btn--darkbg:hover {
    background: #ffe500
}

.btn--darkbg:focus {
    background: #ffe500;
    outline: 1px dotted #fff;
    outline-offset: -3px
}

.btn--darkbg:active {
    background: #ffbf0f;
    outline: 0
}

.btn--darkbg:disabled {
    background: #e5e5e5
}

.btn--secondary {
    background: #fff;
    color: #00598c;
    border: 2px solid #00598c
}

.btn--secondary:hover {
    background: #0079bf;
    border-color: #0079bf;
    color: #fff
}

.btn--secondary:focus {
    background: #0079bf;
    outline: 1px dotted #fff;
    outline-offset: -3px;
    color: #fff
}

.btn--secondary:active {
    background: #003b5c;
    color: #fff;
    outline: 0
}

.btn--secondary:disabled {
    border-color: #757575;
    color: #757575;
    background: #fff
}

.btn--secondary.play:hover::before {
    background: url(/img/icons/play-white.svg);
    background-size: contain
}

.btn--secondary.play::before {
    background: url(/img/icons/play-defaultblue.svg);
    background-size: contain
}

.btn--tertiary {
    background: 0 0;
    color: #00598c
}

.btn--tertiary:hover {
    background: #0079bf;
    color: #fff
}

.btn--tertiary:focus {
    background: #0079bf;
    outline: 1px dotted #fff;
    outline-offset: -3px;
    color: #fff
}

.btn--tertiary:active {
    background: #003b5c;
    color: #fff;
    outline: 0
}

.btn--tertiary:disabled {
    color: #757575;
    background: 0 0
}

.btn--tertiary.play:hover::before {
    background: url(/img/icons/play-white.svg);
    background-size: contain
}

.btn--tertiary.play::before {
    background: url(/img/icons/play-defaultblue.svg);
    background-size: contain
}

.btn--group-center,.btn--group-left,.btn--group-right {
    background: #fff;
    color: #00598c;
    border: 2px solid #00598c
}

.btn--group-center:hover,.btn--group-left:hover,.btn--group-right:hover {
    color: #fff;
    border-color: #0079bf;
    background: #0079bf
}

.btn--group-center:focus,.btn--group-left:focus,.btn--group-right:focus {
    color: #fff;
    background: #0079bf;
    outline: 1px dotted #fff;
    outline-offset: -3px
}

.btn--group-center:active,.btn--group-left:active,.btn--group-right:active {
    color: #fff;
    background: #003b5c;
    border-color: #003b5c;
    outline: 0
}

.btn--group-center:disabled,.btn--group-left:disabled,.btn--group-right:disabled {
    background: #757575;
    border-color: #757575;
    color: #fff
}